<ul id="sidebar" class="nav nav-stacked affix hidden-xs" >
  <li><font color="red" size="1"><strong>廣告出租!請洽李組長</strong></font></li>
  <li><a  href= "http://www.pcstore.com.tw/ilovemama/M00464699.htm"><img src="/images/chrisadv.gif" class="img-responsive" alt="LTTF Logo"></a></li>
  <li><a  href= "http://www.plusmore.com.tw"><img src="/images/adv2.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
  <li><a  href= "http://elekey.net/"><img src="/images/elkey.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
  <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
  <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
</ul>
   
